{% load static %}
<html>

<head>
    <title>Justin Lam's Notetaker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="{% static 'notetaker/style.css' %}">
</head>

<body>
    <header id="header">
        <!-- MAIN NAV -->
        <nav id="main-navigation" class="main-nav">
            <div class="info-title-wrapper">
                <div class="site-title-wrapper">
                    <h1 class="page-title"><a href="/">notetaker.</a></h1>
                    <h4 class="page-title">for procogia, from justin.</h4>
                </div>
            </div>


            <!-- BODY -->
            <div class="base">

                <div class="column">
                    <h1 class="section-title notes">Notes</h1>
                    {% if note_list %}
                    {% for note in note_list %}
                    <div class="note-article">
                        <div class="note-title">
                            <h3><a href="/note/{{ note.id }}/">{{ note.title }}</a></h3>
                        </div>
                        <div class="note-body">
                            {% if note.body|length <= 200 %}
                            {{ note.body }}
                            {% else %}
                            {{ note.body|slice:":200" }}... <a href="/note/{{ note.id }}/" class="readmore">read
                                more</a>
                            {% endif %}

                            <br /><br />

                            <form action="/deleteNote/{{ note.id }}/" method="post">{% csrf_token %}
                                <input type="submit" value="Delete" />
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}

                    {% endif %}

                    <form action="/addNote/" method="post">{% csrf_token %}
                        <div class="note-article new-article">
                            <div class="note-title">
                                <input type="text" name="title" placeholder="Title" />
                            </div>
                            <div class="note-body new">
                                <textarea class="textbox" name="body" rows="5" placeholder="New note text"></textarea>
                            </div>
                            <input type="submit" value="Add" />
                        </div>
                    </form>

                </div>


                <div class="column">
                    <h1 class="section-title todos">Todo</h1>
                    {% if todo_list %}
                    <div class="todo-article">
                        <ul>
                            {% for todo in todo_list %}
                            <li>
                                {% if todo.done %} <s> {% endif %}
                                    {{ todo.title }}
                                    {% if todo.done %} </s> {% endif %}

                                <form class="todo-button" action="/updateTodo/{{ todo.id }}/" method="post">
                                    {% csrf_token %}
                                    <input type="submit" {% if todo.done %} value="Uncheck" {% else %} value="Check off"
                                        {% endif %} />
                                </form>



                                <form class="todo-button" action="/deleteTodo/{{ todo.id }}/" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Delete" />
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <form action="/addTodo/" method="post">{% csrf_token %}
                        <div class="todo-article new-article">
                            <div class="todo-body new">
                                <input class="textbox" type="text" name="title" placeholder="New todo" />
                                <input type="submit" value="Add" />
                            </div>
                        </div>
                </div>
                </form>
            </div>
    </header>
</body>

</html>