{% load static %}
<html>
	<head>
		<title>Justin Lam's Notetaker</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="{% static 'notetaker/style.css' %}">
	</head>
	<body>
		<header id="header">
            <!-- MAIN NAV -->
			<nav id="main-navigation" class="main-nav">
				<div class="info-title-wrapper">
					<div class="site-title-wrapper">
                        <h1 class="page-title"><a href="/">notetaker.</a></h1>
                        <h4 class="page-title">for procogia, from justin.</h4>
					</div>
				</div>

			<!-- BODY -->
			<div class="base">
                <div class="note-article">
                    <div class="note-title">
                        <h3>{{ note.title }}</a></h3>
                    </div>
                    <div class="note-body">
                        {{ note.body }}

                        <br /><br />

                        <form action="/deleteNote/{{ note.id }}/" method="post">{% csrf_token %}
                            <input type="submit" value="Delete"/>
                        </form>
                    </div>
                </div>
            </div>
		</header>
	</body>
</html>




